@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
$lightblue: #31C8D1;
$darkblue : #456478;
$orange: #FF5A28;
$yellow: #FFC728;
$darkgray: #333;
$lightgray: #CCC;

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}

.container {
  min-height: 100%;
  margin: auto;
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)), url(../../images/earth_map.jpg) no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  h1, p {
    text-align: center;
    margin-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

#tooltip{
  background-color: $darkgray;
  position: absolute;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.125rem 0.25rem;
  box-shadow: 4px 4px 5px #456478;
  p {
    text-align: left;
    line-height: 1rem;
    margin: 0.25rem;
    color: $lightgray;
  }

  &::after{
    content: " ";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid $darkgray;
    position: absolute;
    left: 67px;
    bottom: -10px;
  }
}

.hidden{
  display: none;
}

svg{
  display: block;
  margin: auto;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 5px 10px $darkgray;
  border-radius: 5px;
}

footer{
  background-color: black;
  padding: 1rem;
  text-align: center;
  * {
    vertical-align: middle;
  }
  a {
    color: white;
    text-decoration: none;
  }
  img {
    height: 1.2rem;
    width: auto;
  }
}